* {
    box-sizing: border-box;
    position: relative;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background:rgb(160, 160, 160);
  }
  .header {
    padding: 60px;
    text-align: center;
    background: #5e5e5e;;
    color: white;
    font-size: 30px;
  }
  
  img {
    max-width: 100%;
    height: 95%;
    transform-origin: top left;
  }
  
  .gallery {
    display: flow-root;
    overflow: hidden;
    margin-left: 1.5em;
  }

  .gallery .gallery-image {
    width: 23%;
  }
  .gallery .gallery-image[data-flipping] {
    opacity: 1;
    z-index: 3;
  }

  .gallery::before, .gallery::after {
    content: "";
    flex-basis: 100%;
    width: 0;
    order: 2;
  }
  
  .gallery-image {
    margin: 1em;
    display: inline-block;
    position: relative;
  }
  .gallery-image img {
    display: block;
    width: 100%;
  }
  .gallery-image figcaption {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: 0 0 1px #000;
    opacity: 0.8;
    padding: 1em;
    text-align: left;
    transition: opacity 0.4s linear;
    font-family: monospace;
  }
  .gallery-image:hover figcaption {
    opacity: 1;
  }
  
  .detail {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(25, 25, 25, 0);
    box-shadow: 0 0 30px #000;
    display: flex;
    pointer-events: none;
    transition: background 0.3s linear;
  }
  .detail .gallery-image {
    padding: 5vmin;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detail .gallery-image img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .detail .gallery-image figcaption {
  display: none;
   /*font-size: 5em;
   max-width:600px;*/
  }
  
  [data-state=detail] .detail {
    background: rgba(25, 25, 25, 0.85);
    pointer-events: auto;
  }
  [data-state=detail] .detail .gallery-image {
    opacity: 1;
  }
  
  [data-state=gallery] .detail .gallery-image {
    opacity: 0;
    transition: none;
  }

  a {
    display:none;
  }

  [data-state=detail] a {
    display:block;
  }

  button {
    font-size: 24px;
    background-color: #d0cff7;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  /* ---------------------------------- */
 
  
  #app {
    pointer-events: none;
  }
  #app .gallery .gallery-image {
    pointer-events: auto;
  }
  
  .gallery-image {
    transition: opacity 0.5s linear;
  }
  
  #app:hover .gallery .gallery-image {
    opacity: 0.3;
  }
  #app:hover .gallery .gallery-image[data-flipping],
  #app:hover .gallery .gallery-image:hover {
    opacity: 1;
    transition-duration: 0.3s;
  }

  @media screen and (max-width: 1800px) {
    .gallery .gallery-image {
      width: 17%;
    }

  }

  @media screen and (max-width: 1485px) {
    .gallery .gallery-image {
      width: 21%;
    }
    .detail .gallery-image figcaption {
      /* display: none;*/
      font-size: 3em;
     }
  }

  @media screen and (max-width: 1040px) {
    .gallery .gallery-image {
      width: 40%;
    }
    .gallery {
      margin-left: 4em;
    }
    #app:hover .gallery .gallery-image {
      opacity: 0.7;
    }
    .detail .gallery-image {
      display: grid;
    
    }
    
  }

  @media screen and (max-width: 697px) {
    .gallery .gallery-image {
      width: 100%;
    }
    .gallery {
      margin-right: 1em;
      margin-left: 0em;
    }

    .detail .gallery-image figcaption {
      /* display: none;*/
      font-size: 2em;
     }

 
} 